/authclient/nbproject/private/
/authserver/nbproject/private/
/TCPPackets/dist/
/TCPPackets/nbproject/private/
/AuthPackets/dist/
/AuthPackets/nbproject/private/
/packets/TCPPackets/build/
/packets/TCPPackets/dist/
/packets/TCPPackets/nbproject/private/
/packets/nbproject/private/
/client/nbproject/private/
